*{
    margin: 0;
    padding: 0;
}

header {
    background: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  #menu-button{
    font-size: 24px;
    margin-right: 20px;
}

.logo {
    font-size: 24px;
    padding: 12px;
}

.navbar {
    align-items: center;
    text-align: center;
    margin-left: 80px;
    display: flex;
    gap: 70px;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navbar a:hover {
    text-decoration: none;
    color: #ff4500;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

#search-bar {
    border: none;
    flex: 1;
    border-left: 2px solid #ff4500;
    outline: none;
    background: transparent;
    padding: 12px;
    border-radius: 30px;
    color: #fff;
    height: 40px;
}

#search-submit {
    border: none;
    outline: none;
    background: #ff4500;
    color: #fff;
    width: 80px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
   border-radius: 30px;
}

#search-submit:hover{
    background-color: #fd7949;
}


#login-button {
    background-color: #ff4500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 43px;
}


#login-button:hover{
    background-color: #fd7949;
}


.carousel-item img{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
}
.box{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 25px;
}

